html, body{
  background-color:#222222; color:#ccc;
}
 a:visited, a{
  color:#ccc;
}

.left{
  float:left;
}

.right {
  float:right;
}
.aright{
  text-align:right;
}

.plain_link {
  text-decoration:none;
}

.notice {
  margin:5px; padding:10px; border: solid thick green; color:green; font-weight:bold;
}
.alert ,#error_explanation{
  margin:5px; padding:10px; border: solid thick red; color:red; font-weight:bold;
}
.center {
  text-align:center;
}

.fill { 
  width:100%;
}



.topic_body {
  padding:10px;
  min-height:60px;
}


.disp_text {
  background-color:#ccc; color:#222;
  
  -moz-border-radius:7px;
  -moz-box-shadow:0px 3px 5px black inset;
}

.fg_text, .fg_text a, .fg_text a:visited{
  font-weight:bold; 
}

.voter {
  height:30px; width:30px;display:block;
  margin:0px 10px;
}
.upvote {
   background-color:darkgreen;
  -moz-border-radius:15px;
  -moz-box-shadow:0px 3px 5px black inset;
}
.upvote_voted{
  background-color:green;
  -moz-border-radius:15px;
  -moz-box-shadow:0px 0px 7px 2px green ;
}
.downvote {
   background-color:darkred;
  -moz-border-radius:15px;
  -moz-box-shadow:0px 3px 5px black inset;
}
.downvote_voted {
   background-color:red;
  -moz-border-radius:15px;
  -moz-box-shadow:0px 0px 7px 2px red;
}

.score {
  font-weight:bold; font-size:20px;
  margin: 0px 10px; display:block;width:30px;height:30px;
  padding-top:7px; 
}
